
@font-face {
  font-family: 'Code Next';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/CodeNext-Light.woff2') format('woff2'), 
  url('../fonts/CodeNext-Light.woff') format('woff')
}

@font-face {
  font-family: 'Code Next';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/CodeNext-Regular.woff2') format('woff2'), 
  url('../fonts/CodeNext-Regular.woff') format('woff')
}

@font-face {
  font-family: 'Code Next';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/CodeNext-SemiBold.woff2') format('woff2'), 
  url('../fonts/CodeNext-SemiBold.woff') format('woff')
}

@font-face {
  font-family: 'Code Next';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/CodeNext-Bold.woff2') format('woff2'), 
  url('../fonts/CodeNext-Bold.woff') format('woff')
}

@font-face {
  font-family: 'Code Next';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/CodeNext-ExtraBold.woff2') format('woff2'), 
  url('../fonts/CodeNext-ExtraBold.woff') format('woff')
}

@font-face {
  font-family: 'Cyrvetica';
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Cyrvetica.woff') format('woff')
}